.button_blue{
    width: 142px;
    height: 49px;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins';
}