.about__section{
    min-height: 500px;

    margin-top: 150px;
    
   
}
.about__main{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   position: relative;

}

.about__img{
    img{
        max-width: 100%;
    }
}

.about__description{
    max-width: 223px;
    padding-top: 100px;
   
margin-left: 50px;
    p{
       font-size: 18px;
       color: var(--light_grey);
       margin-bottom: 40px;
       line-height: 160%;
       
    }
}

.about__cart{
    position: absolute;
    top: 20px;
    right: 100px;
}

@media (max-width: 905px){
    .about__description{
       
        padding-top: 0px;
       
    margin-left: 50px;
        p{
           font-size: 14px;
          
          
           
        }
    }

    .about__cart{
        position: absolute;
        top: -20px;
        left: 10px;
    }
}


@media (max-width: 768px){
    .about__main{
  
        flex-direction: column;
      
    
    }

    .about__description{
        max-width: 100%;
        padding-top: 0px;
       
    margin-left: 0px;
   
    }
}