.achevement__component{
    margin-top: 100px;
    margin-bottom: 100px;

  
}

.achevement__component__title{
    max-width:738px ;
}

.achevement__component__description{
    display: flex;
 
    justify-content: space-between;
    max-height: 525px;

    
}

.achevement__component__description_photo{
    max-width: 75%;

overflow: hidden;

}

.achevement__component__description_statistic{
    max-width: 25%;
height: 433px;

    ul{
     
        margin: 0;

    }
}

@media (max-width: 969px) {
    .achevement__component__description{
        display: flex;
     
        justify-content: space-between;
        max-height: 892px;

        flex-direction: column;
    
        
    }

    .achevement__component__description_photo{
        max-width:100%;
        height: max-content;
    overflow:visible;

    margin-bottom: -10px;
    img{
        width: 100%;
    }

   
    
    }
    
    .achevement__component__description_statistic{
        max-width: 100%;
    height: min-content;
    
        ul{
         
            margin: 0;
    
        }
    }
}