.pagination_container{
    background-color: #e68d8d;
    height: 50px;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
}

.pagination_item{
    background-color: #82f057;
    width: 30px;
    height: 30px;
}